In [1]:
import sqlite3
import pandas as pd

Pregunta 1: ¿Cuál es el ingreso total generado por el negocio?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

total_ventas = pd.read_sql_query("""
    SELECT SUM(precio_total) AS total_ventas FROM tickets
""", conexion)      

print("Ingresos totales: ", total_ventas['total_ventas'][0])

conexion.close

Pregunta 2: ¿Cómo ha sido la tendencia de ingresos mensuales?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

ingresos_mensuales = pd.read_sql_query("""
    SELECT strftime('%Y-%m', fecha) AS mes, 
           SUM(precio_total) AS ingresos_mensuales 
    FROM tickets 
    GROUP BY mes 
    ORDER BY mes
""", conexion)

print(ingresos_mensuales)

conexion.close()

Pregunta 3: ¿Cuál es el rendimiento de cada departamento en términos de ventas?

In [ ]:
# Conexión a la base de datos
conexion = sqlite3.connect("./datos/sanoyfresco.db")

# Lista de departamentos a consultar
departamentos = [4, 16, 20, 7]

# Diccionario para almacenar los resultados
resultados = {}

for depto in departamentos:
    query = f"""
        SELECT SUM(precio_total) AS total_precio 
        FROM tickets 
        WHERE id_departamento = {depto}
    """
    resultado = pd.read_sql_query(query, conexion)
    resultados[depto] = resultado['total_precio'][0]

for depto, total in resultados.items():
    print(f"Ingresos para el departamento {depto}: {total}")

conexion.close()

Pregunta 4: ¿Cómo se distribuyen las ventas entre las diferentes secciones?

In [ ]:
import sqlite3
import pandas as pd

conexion = sqlite3.connect("./datos/sanoyfresco.db")

# Lista de secciones a consultar
secciones = [24, 123, 83, 67, 53, 84, 115, 16]

# Diccionario para almacenar los resultados
resultados = {}

for seccion in secciones:
    query = f"""
        SELECT SUM(precio_total) AS total_precio 
        FROM tickets 
        WHERE id_seccion = {seccion}
    """
    resultado = pd.read_sql_query(query, conexion)
    resultados[seccion] = resultado['total_precio'][0]

for seccion, total in resultados.items():
    print(f"Ingresos para la sección {seccion}: {total}")

conexion.close()

Pregunta 5: ¿Cuáles son los 10 productos más vendidos en cantidad?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

top_productos = pd.read_sql_query("""
    SELECT nombre_producto, SUM(cantidad) AS total_vendido 
    FROM tickets 
    GROUP BY nombre_producto 
    ORDER BY total_vendido DESC 
    LIMIT 10
""", conexion)

print(top_productos)

conexion.close()

Pregunta 6: ¿Qué 10 productos generan más ingresos?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

top_productos = pd.read_sql_query("""
    SELECT nombre_producto, SUM(precio_total) AS total_vendido 
    FROM tickets 
    GROUP BY nombre_producto 
    ORDER BY total_vendido DESC 
    LIMIT 10
""", conexion)

print(top_productos)

conexion.close()

Pregunta 7: ¿Quiénes son los 20 clientes que más compran en términos de ingresos?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

top_clientes = pd.read_sql_query("""
    SELECT id_cliente, SUM(precio_total) AS clientes_compras 
    FROM tickets 
    GROUP BY id_cliente 
    ORDER BY clientes_compras DESC 
    LIMIT 20
""", conexion)

print(top_clientes)

conexion.close()

Pregunta 8: ¿Cuál es la compra media por cliente?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

compra_media = pd.read_sql_query("""
    SELECT AVG(media_cliente) as compra_media 
    FROM (
        SELECT id_cliente, SUM(precio_total) AS media_cliente 
        FROM tickets 
        GROUP BY id_cliente
    )
""", conexion)

print("Compra media por cliente:", compra_media['compra_media'][0])

conexion.close()

Pregunta 9: ¿Cuántos pedidos totales se han realizado?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

total_pedidos = pd.read_sql_query("""
    SELECT COUNT(DISTINCT id_pedido) AS total_pedidos FROM tickets;
""", conexion)

print("Total de pedidos realizados:", total_pedidos['total_pedidos'][0])

conexion.close()

Pregunta 10: ¿Cuál es el valor promedio por pedido?

In [ ]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

valor_promedio_pedido = pd.read_sql_query("""
    SELECT (SUM(precio_total) * 1.0) / COUNT(DISTINCT id_pedido) AS valor_promedio_pedido 
    FROM tickets;
""", conexion)

print("Valor promedio por pedido:", valor_promedio_pedido['valor_promedio_pedido'][0])

conexion.close()